@model MapaTriStackdb.Models.Equipamento

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-danger fw-bold">Excluir Equipamento</h1>

<h3 class="text-dark">Tem certeza que deseja excluir este equipamento?</h3>

<div>
    <h4 class="text-dark fw-bold">Equipamento</h4>
    <hr style="border-color: rgba(0,0,0,0.2);" />

    <dl class="row">
        <dt class="col-sm-2 text-secondary fw-bold">@Html.DisplayNameFor(model => model.Descricao)</dt>
        <dd class="col-sm-10 text-dark">@Html.DisplayFor(model => model.Descricao)</dd>

        <dt class="col-sm-2 text-secondary fw-bold">@Html.DisplayNameFor(model => model.Temperatura)</dt>
        <dd class="col-sm-10 text-dark">@Html.DisplayFor(model => model.Temperatura) °C</dd>

        <dt class="col-sm-2 text-secondary fw-bold">@Html.DisplayNameFor(model => model.Ar)</dt>
        <dd class="col-sm-10 text-dark">@Html.DisplayFor(model => model.Ar) %</dd>

        <dt class="col-sm-2 text-secondary fw-bold">@Html.DisplayNameFor(model => model.Agua)</dt>
        <dd class="col-sm-10 text-dark">@Html.DisplayFor(model => model.Agua) %</dd>

        <dt class="col-sm-2 text-secondary fw-bold">@Html.DisplayNameFor(model => model.Latitude)</dt>
        <dd class="col-sm-10 text-dark">@Html.DisplayFor(model => model.Latitude)</dd>

        <dt class="col-sm-2 text-secondary fw-bold">@Html.DisplayNameFor(model => model.Longitude)</dt>
        <dd class="col-sm-10 text-dark">@Html.DisplayFor(model => model.Longitude)</dd>

        <dt class="col-sm-2 text-secondary fw-bold">@Html.DisplayNameFor(model => model.Vento)</dt>
        <dd class="col-sm-10 text-dark">@Html.DisplayFor(model => model.Vento) km/h</dd>

        <dt class="col-sm-2 text-secondary fw-bold">@Html.DisplayNameFor(model => model.Luz)</dt>
        <dd class="col-sm-10 text-dark">@Html.DisplayFor(model => model.Luz) lux</dd>

        <dt class="col-sm-2 text-secondary fw-bold">@Html.DisplayNameFor(model => model.Solo)</dt>
        <dd class="col-sm-10 text-dark">@Html.DisplayFor(model => model.Solo) %</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="EquipamentoId" />

        <input type="submit" value="Excluir"
               class="btn fw-bold"
               style="background-color: #ff4d4d; color: white;" />
        <a asp-action="Index"
           class="btn fw-bold ms-2"
           style="background-color:#246816; color:white;">Voltar à Lista</a>
    </form>
</div>
