@model MapaTriStackdb.Models.AlertaEquipamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AlertaEquipamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Equipamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Equipamento.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAlerta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoAlerta.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mensagem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mensagem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAlerta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAlerta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AlertaEquipamentoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
